
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 60s ease infinite;
    height: 100vh;
    overflow-y: hidden;}
    
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }}
/* BG by Manuel Pinto https://manuel.pinto.dev/ */

.main{
    padding-top: 36vh;
    display: grid;
    place-items: center;}

.parte-1{
    display: grid;
    place-items: center;}

.parte-2{
    margin-top: 250px;
    display: grid;
    place-items: center;}

a {
    text-decoration: none;
    color: black;}

a:hover {
    text-decoration: underline;
    color: black;}


.lng{
    display: block;
    transform: scale(150%);}
    
.btn{
    display: block;
    transform: scale(260%);
    margin-top: 7vh;
    margin-bottom: 7vh;}

.pwd{
    transform: scale(150%);}

.lng-a{
    font-size: 17px;
    transition: 300ms;
    border-radius: 15px;
    height: 32px;
    box-sizing: border-box;
    border: 0;
    padding: 16px;
    opacity: 60%;
}

.lng-a:hover{
    opacity: 100%;
}

.pwd-a{ 
    font-size: 17px;
    transition: 300ms;
    height: 32px;
    border-radius: 15px;
    box-sizing: border-box;
    border: 0;
    padding: 16px;
    opacity: 60%;
}

.pwd-a:hover{
    opacity: 100%;
}

.button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#0099ff);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 14px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 10px;
    padding: 2px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;}
  
  .button:active,  .button:hover {
    outline: 0; }
  
  .button span {
    background-color: rgb(5, 6, 45);
    padding: 8px 20px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;}
  
  .button:hover span {
    background: none;}
  
  @media (min-width: 430px) {
    .button {
      font-size: 24px;
      min-width: 100px;}}

@media (min-width: 430px) {
    .lng-a, .pwd-a{
        font-size: 24px;
    }    
}

@media (max-width: 430px) { 
    .parte-2{
    margin-top: 180px;}
}

@media (max-width: 430px) {
   .main{
   padding-top:30vh;}
}
.div-1{
    font-size: 120%;
    font-family: 'M PLUS 2', sans-serif;}
